{:kotoba.app/id "cloud.itonami.isic-1702", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidiftayoekefbewnnj2j7o7efsgeb5gxyemeziz7eh55kosxrnaeu", :kotoba.app/embed-url "ipfs://bafkreidiftayoekefbewnnj2j7o7efsgeb5gxyemeziz7eh55kosxrnaeu", :published {:archive "https://kotobase.net/ipfs/bafkreidiftayoekefbewnnj2j7o7efsgeb5gxyemeziz7eh55kosxrnaeu", :size 73007, :put-status 201, :get-status 200, :at "2026-08-15T13:35:20.729Z"}}
